
@{
    ViewBag.Title = "Index";
}

<h2>Virtual Shop</h2>
<p>Este é um simulador de um sistema real para cadastrar pedidos em uma loja virtual. De maneira simples e organizada, são montadas 3 tabelas (produtos, transportadoras e clientes) e relacionadas em uma quarta tabela chamada pedidos. </p>
<p>Para a utilização desse aplicativo é necessária conexão com a internet, para carregar as imagens dos itens, pois seus identificadores são apenas os link e não imagens em base 64, isso sobrecarregaria demais o banco</p>
<p>O sistema foi desenvolvido com o intuito de mostrar o funcionamento do MVC em C#, bem como conceitos básicos de manipulação de dados, além de outras funcionalidades da linguagem. </p>

